<div>
    <h1 style="color: darkred;">Librería Comics</h1>
    
    <form #libreriaForm="ngForm" (ngSubmit)="nuevoComic()">
        <!-- LOS CONTROLES DEBEN TENER UNA ETIQUETA ngModel Apuntando al id angular -->
         <!-- PARA INDICAR EL MODEL BINDING[(ngModel)]="Mi modelo" -->
          <label >Titulo</label>
          <input type="text" name="cajatitulo" #cajatitulo  >
          <label >Imagen</label>
          <input type="text" name="cajaimagen" #cajaimagen >
          <label >Descripción</label>
          <input type="text" name="cajadescripcion" #cajadescripcion >
          <button>Enviar comic</button>
    </form>


    @if (comicFavorito) {
        <div style="background-color: darkgoldenrod; text-align: center;">
        <h2 style="color: darkred;font-weight: bold; ">{{comicFavorito.titulo}}</h2>
        <h3 style="color: blue;">{{comicFavorito.descripcion}}</h3>
        <img src="{{comicFavorito.imagen}}" style="width: 200px;height: 200px;">
    </div>
    }
    

    @for (c of comics; track c;let i= $index) {
        <!-- se pone $event porque sabemos que va a enviar la instancia al hijo -->
        <app-comic [comic]="c" (seleccionarFav)="seleccionarFav($event)" 
        [index]="i"
        (deleteComic)="deleteComic($event)"
        ></app-comic>
    }

</div>